<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Beef</title>
</head>
<body>
    <h1>Edit your beef!</h1>

    <form action="/beef/<%= beef._id %>?_method=PUT" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" />
        </div>

        <div>
            <label for="description">Description:</label>
            <input type="text" name="description" id="description" />
        </div>

        <div>
            <label for="image">Image:</label>
            <input type="text" name="image" id="image" />
        </div>

        <button type="submit">Update beef</button>
    </form>
</body>
</html>