<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beef List</title>
</head>
<body>
    
    <h1>Got Beef?</h1>
    <p>Find out about different cuts of beef</p>

    <% beefs.forEach(beef => { %>
        <div>
            <h2> <a href="/beef/<%= beef._id %>"><%= beef.name %> </a> </h2>


        </div>
    <% }) %>
    <a href="/beef/new"> <p>Add Beef</p></a>
</body>
</html>