<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Got Beef?</title>
</head>
<body>
    <h1>Add your beef!</h1>

    <form action="/beef" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" />
        </div>
        
        <div>
            <label for="description">Name:</label>
            <input type="text" name="description" id="description" />
        </div>

        <div>
            <label for="image">Image:</label>
            <input type="image" name="image" id="image" />
        </div>


        <button type="submit">Add beef</button>

    </form>
</body>
</html>